.main-box {
    height: 100vh;
}
.item-container {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.left-sidebox {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}