.wrap {
    display: grid;
    grid-template-columns: 1fr auto; /* 필터 영역과 카드 리스트 영역을 나눔 */
    gap: 0 30px; /* 가로 간격 설정 */
  /* 그리드의 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
}

.filter-block {
    position: sticky;
    top: 40px;
    padding: 60px;
	height: 100vh;
    background-color: #F9F9F9;
    width:390px;
   /*  min-height: 100vh; */ /* 고정된 높이 설정 */
    margin-top: 50px;
}

.filter-category, .filter-price, .filter-sort {
	border-bottom: 1px solid #bebdbd;
	margin-bottom: 30px;
}



.filter-button button {
	background-color: #000;
	color: #fff;
	border-radius: 5px;
	width: 100%;
	height: 35px;
	margin-bottom: 10px;
}

.list-block {
    margin-top: 70px;
}

.card-list {
	display: grid;
	grid-template-columns: repeat(3, minmax(100px, 1fr));
	gap: 36px 30px;
	padding: 0;
	margin: 30px;
}

.card-list .card {
	width: 30%;
	border: 0;
}

.card-list img {
	border-radius: 10px;
	width: 100%;
}

.card-list .card-body {
	padding-top: 10px;
}

ul {
	-webkit-padding-start: 0px;
}

li {
	list-style-type: none;
}

.pagination-center {
	text-align: center;
	margin: 30px;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: #656464;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}

.pagination a:hover:not (.active ) {
	font-weight: bold;
}

.pagination a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pagination a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.list-block a {
	text-decoration: none;
	color: #000
}

@media screen and (max-width: 1200px) {
    
    .filter-block {
        position: sticky; 
        top:20px;
    }

    .card-list {
        grid-template-columns: repeat(2, minmax(100px, 1fr)); /* 카드 리스트를 2열로 표시하도록 설정 */
    }
    
}

